## Datetime

In [1]:
import datetime

### Work with Date

```py
datetime.date(year, month, day)
```

In [2]:
# d = datetime.date(2021, 04, 18) # wrong!!! don't pass 04 only pass 4
d = datetime.date(2021, 4, 18)
print(d)

2021-04-18

In [3]:
tday = datetime.date.today()
print(tday)

2021-04-18

In [4]:
tday.year

2021

In [5]:
tday.month

4

In [6]:
tday.day

18

**weekday()**:

```py
Monday = 0
Sunday = 6
```

In [7]:
tday.weekday()

6

**isoweekday()**

```py
Monday = 1
Sunday = 7
```

In [8]:
tday.isoweekday()

7

### Time Delta

Different between two dates and times.

In [9]:
tdelta = datetime.timedelta(days=7)
tdelta

datetime.timedelta(days=7)

In [10]:
# Date after 1 week from now
tday + tdelta

datetime.date(2021, 4, 25)

In [11]:
# Date before 1 week from now
tday - tdelta

datetime.date(2021, 4, 11)

```py
date2 = date1 + timedelta # return date
timedelta = date1 [+ or -] date2 # return timedelta
```

In [12]:
bday = datetime.date(2021, 7, 18) # my birthday
bday

datetime.date(2021, 7, 18)

In [13]:
till_bday = bday - tday
till_bday # timedelta

datetime.timedelta(days=91)

In [14]:
till_bday.days

91

In [15]:
till_bday.total_seconds()

7862400.0

### Work with time

```py
datetime.time(hours, minutes, seconds, microseconds)
```

In [16]:
t = datetime.time(9, 30, 45, 1012)
t

datetime.time(9, 30, 45, 1012)

In [17]:
print(t)

09:30:45.001012

In [18]:
t.hour

9

In [19]:
t.microsecond

1012

### Work with Datetime

- datetime.date(years,months, days) work with date
- datetime.time(hours, minutes, seconds, microseconds) work with time
- datetime.datetime(years,months, days, hours, minutes, seconds, microseconds) work with date and time

In [20]:
dt = datetime.datetime(2021, 4, 18, 10, 41, 45, 320)
print(dt)

2021-04-18 10:41:45.000320

In [21]:
print(dt.date()) # return date

2021-04-18

In [22]:
print(dt.time()) # return time

10:41:45.000320

In [23]:
dt.day

18

In [24]:
dt.hour

10

In [25]:
dt.month

4

In [26]:
tdelta = datetime.timedelta(days=7)
tdelta

datetime.timedelta(days=7)

In [27]:
print(dt + tdelta)

2021-04-25 10:41:45.000320

In [28]:
tdelta = datetime.timedelta(hours=12)
tdelta

datetime.timedelta(seconds=43200)

In [29]:
print(dt + tdelta)

2021-04-18 22:41:45.000320

### Today, Now, Utcnow

```py
dtoday = datetime.datetime.today()
dnow = datetime.datetime.now()
dutc = datetime.datetime.utcnow()
```

In [30]:
dtoday = datetime.datetime.today()
dnow = datetime.datetime.now()
dutc = datetime.datetime.utcnow()

In [31]:
print(dtoday)
print(dnow)
print(dutc)

2021-04-18 19:19:07.821070
2021-04-18 19:19:07.821268
2021-04-18 13:19:07.821403

### Timezone

```console
$ pip3 install pytz
```

In [32]:
import pytz

In [33]:
dt_utcnow = datetime.datetime.now(tz=pytz.UTC)
print(dt_utcnow)

2021-04-18 13:19:08.322718+00:00

### astimezone(pytz.timezone('Asia/Dhaka'))

In [34]:
dt_dhaka = dt_utcnow.astimezone(pytz.timezone('Asia/Dhaka'))
print(dt_dhaka)

2021-04-18 19:19:08.322718+06:00

### Show all timezone

In [35]:
substr = 'Asia/D'
for tz in pytz.all_timezones:
    if substr in tz:
        print(tz)

Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe

### Localize navie timezone to timezone

In [36]:
dt_dhaka = datetime.datetime.now()
print(dt_dhaka)

2021-04-18 19:19:08.933001

In [37]:
dt_tz_dhaka = pytz.timezone('Asia/Dhaka')
dt_tz_dhaka

In [38]:
dt_dhaka = dt_tz_dhaka.localize(dt_dhaka)
print(dt_dhaka)

2021-04-18 19:19:08.933001+06:00

### Formatcode

- `%B` = Month Name
- `%d` = date
- `%Y` = Year

In [39]:
print(dt_dhaka.isoformat())

2021-04-18T19:19:08.933001+06:00

### strftime('format code')

In [40]:
print(dt_dhaka.strftime('%B %d, %Y'))

April 18, 2021

### strptime(str_time, 'formatcode')

Convert string time to datetime

In [41]:
# dt_string
dt_str = 'April 18, 2021'

In [42]:
# we cannot apply datetime method in `dt_str`
# to convert str to datetime we need to use `strptime`

dt = datetime.datetime.strptime(dt_str, '%B %d, %Y')
print(dt)

2021-04-18 00:00:00

### So finally

- `strftime()` convert Datetime to String 
- `strptime()` convert String to Datetime