## Basic Combinatorics

### Numbers Divisible by 2 or 3

- How many numbers from 1 to 20, inclusive, are divisible by 2?

In [1]:
div_by_2 = [num for num in range(1,21) if num % 2 == 0]
len(div_by_2)

10

- How many numbers from 1 to 20, inclusive, are divisible by 3?

In [2]:
div_by_3 = [num for num in range(1, 21) if num % 3 == 0]
len(div_by_3)

6

- How many numbers from 1 to 20, inclusive, are divisible by 2 or by 3?

In [3]:
div_by_2_or_3 = [num for num in range(1, 21) if num % 2 == 0 or num % 3 == 0]
len(div_by_2_or_3)

13

### Sets and Operations with Them

- Consider the set A={1,3,2,0,1,3} A={1,3,2,0,1,3}. Find |A|∣A∣.

In [4]:
A = {1, 3, 2, 0, 1, 3}
A

{0, 1, 2, 3}

In [5]:
len(A)

4

- Consider the sets `A={1, 2, 4, 5, 6}` and `B = {1, 2, 3, 5, 7}`. What is the intersection od `A∩B` of sets `A` and `B`?

In [6]:
A = {1,2,4,5,6}
B = {1,2,3,5,7}

A_intersection_B = A.intersection(B)
print(A_intersection_B)

{1, 2, 5}

- Consider the sets `A = {1, 2, 4, 5, 7}` and `B = {1, 2, 3, 5, 6}`. What is the union `A∪B` of sets `A` and `B`?

In [7]:
A = {1, 2, 4, 5, 7}
B = {1, 2, 3, 5, 6}

A_union_B = A.union(B)
print(A_union_B)

{1, 2, 3, 4, 5, 6, 7}

## Generalized Rule of Sum

- Suppose we have 40 videos in our dataset. Each video falls in at least one of the two categories, comedy videos and music videos. It is known that there are 27 comedy videos  and 22 music videos in the dataset. How many videos fall into both categories?

In [8]:
# Given, 
A_union_B = 40 # Both A and B lies here
len_A = 27 # Modulus of Comedy videos
len_B = 22 # Modulus of Music videos

A_intersection_B = len_A + len_B - A_union_B
print(A_intersection_B)

9

- How many integer numbers from 1 to 1000, inclusive, are divisible by 2 or by 3?

In [9]:
div_by_2_or_3 = [num for num in range(1,1001) if num % 2 == 0 or num % 3 == 0]
len(div_by_2_or_3)
# print(div_by_2_or_3)

667

- How many integer numbers from 1 to 1000, inclusive, are not divisible neither by 2, nor by 3?

In [10]:
not_div_by_2_or_3 = [num for num in range(1, 1001) if num % 2 != 0 and num % 3 != 0]
len(not_div_by_2_or_3)
# print(not_div_by_2_or_3)

333

## Number of Paths

- Consider the following set of points connected by arrows. How many different ways are there to get from ss to tt?

![images](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/Cgrl6xANQRuK5esQDbEbKg_5155eedd370785f8376a9bb641071f41_number-of-paths.png?expiry=1616889600000&hmac=NalQ_N_5Sv9AdTxYwfvbCFimEXxbNrdyU-BSLwg38Bo)

In [11]:
# need to impletement graph algorithm, dynamic programming, or greedy algorithm.

## Rule of Product

- Suppose we have 7 disjoint datasets and each dataset contains 12 data entries. How many data entries do we have in total?

In [12]:
n = 7 # number of disjoint datasets
k = 12 # each dataset contains k entries

total = n * k
print(total)

84

### Tuples and Permutation

- Suppose we want to analyse texts in Latin alphabet (26 possible letters). For this we want to compute the frequencies of all possible 3-letter combinations in a text. For this we will need to store a number for each possible 3-letter combination. How many number we will have to store for a text?

In [13]:
alpha = 26
three_letter_combination = 3

total = alpha ** three_letter_combination
print(total)

17576

### Cartesian Product / Tuple

In [17]:
A = {'a', 'b', 'c', 'd'}
length = 5

car = [(a, idx) for a in A for idx in range(1, length + 1)]
print(car)

assert len(A) * length == len(car)

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('a', 5), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('b', 5), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('c', 5), ('d', 1), ('d', 2), ('d', 3), ('d', 4), ('d', 5)]

In [25]:
count = 0
for i in range(1, 10000):
    s = str(i)
    
    if s.count('7') == 1:
        count += 1
print(count)

print((9 * 9 * 9) * 4)

2916
2916